<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">BLOG</a></li>
        </ul>
    </nav>
    <h1 class="neon">안녕하세요, 잘 지내세요?</h1>
    <p>미니 프로젝트에 오신 것을 환영합니다. 만나서 반가워요. <br>
        저는 UIN Salatiga 데이터 과학 연구 프로그램의 Nafisa입니다.
    </p>
        <div class="search-container">
            <span class="icon">🔎</span>
            <input type="text" placeholder="Cari sesuatu...">
        </div>
</body>
</html>